@import "tailwindcss";

body {
    font-family: Inter, sans-serif;
}

header {
    @apply transition-all duration-300
           fixed left-0 right-0 top-0
           z-50
           flex items-center justify-between
           md:px-8
           mx-auto px-4 h-16;

    background: #fff;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid #b8e6d5;
}

.display {
    font-family: "Playfair Display", serif;
}
